<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Well Wisher</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/about.css') }}">
</head>
<body>
    <header>
        <nav><!--navbar-->
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
                <span class="site-name">Well Wisher</span>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/games">Play Mini Games</a></li>
                <li><a href="/talk">Talk to Bot</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <button class="menu-toggle">&#9776;</button>
        </nav>
    </header>
<script src="{{ url_for ('static', filename='js/about.js')}}"></script>
</body>
</html>